# Core functionality - changes here should be rare!
/src/app.py                   @mervegulgokceoglu
/src/backend/database.py      @mervegulgokceoglu
/src/backend/routers/auth.py  @mervegulgokceoglu

# The frontend will need refactored soon to be more object oriented.
/src/static/   @mervegulgokceoglu
